.top {
    padding-top: 40px;
    padding-bottom: 70px;
}

.btn {
    border-radius: .2rem;
    margin-bottom: 40px;
}

.btn-outline-primary:focus {
    box-shadow: none;
}

.active {
    cursor: default;
}

.modal-content {
    border-radius: .2rem;
}

h1 {
    margin-bottom: 30px;
}

h3 {
    margin-top: 40px;
}

hr {
    margin-top: 40px;
}

.addthis_sharing_toolbox {
    margin-top: 40px;
    margin-bottom: 20px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 700px;
    }
}